@page
@model SITE.Pages.Transports.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.PlaceCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.PlaceCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transport.RouteNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transport.RouteNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transport?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
