@page
@model SITE.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Детали</h1>

<div>
    <h4>Маршрут</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.BirthData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.BirthData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Deleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Deleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Prise)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Prise)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Admin") || User.IsInRole("Dispet"))
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Student?.Id">Edit</a> |
        <a asp-page="./Index">Вернутся к списку</a>
    </div>
}


